<div class="container">
  <div class="row">
    <h3>Assignment One</h3>
  </div>
  <!-- <div class="row">
  <p>
    {{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }}
  </p>
</div> -->
<div class="row">
    <!-- [ ] square bracket is property binding
      ( ) open-close parenthesis is event binding
      [()] two-way binding
    -->
    <div class="col-sm-12">
      <button class="btn btn-primary" 
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">
        Add Server</button>
    </div>
  </div>
  <div class="row">
    <p>{{ serverCreationStatus }}</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>Server Name</label>
    </div>
    <div class="col-sm-8">
      <input type="text" 
        class="form-control"
        (input)="onUpdateServerName($event)">
      <input type="text" 
        class="form-control"
        [(ngModel)]="serverName">
    </div>
  </div>
  <div *ngIf="showNotification" class="row">
    <label>{{ serverName }}</label>
  </div>
</div> 

