<div class="container">
  <div class="row">
    <h3>Assignment One</h3>
  </div>  
  <div class="row">
    <div class="col-sm-4">
      <label>Server Name</label>
    </div>
    <div class="col-sm-8">
      <input type="text" 
        class="form-control"
        (input)="onUpdateServerName($event)">
      <input type="text" 
        class="form-control"
        [(ngModel)]="serverName">
    </div>
  </div>
  <div class="row">
    <!-- [ ] square bracket is property binding
      ( ) open-close parenthesis is event binding
      [()] two-way binding
    -->
    <div class="col-sm-12">
      <button class="btn btn-primary" 
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">
        Add Server</button>
    </div>
  </div>
  <div *ngIf="showNotification; else noServer" class="row">
    <p *ngFor="let server of servers; let i = index">
      The server {{ servers[i] }} was created with status as 
      <span [ngStyle]="{'color': serverStatuses[i] === 'online' ? 'green' : 'red'}"><b>{{ serverStatuses[i] }}</b>.</span>
    </p>
  </div>
  <ng-template #noServer>
    <p>No server was created!</p>
  </ng-template>
</div> 

